<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--<add name="Repositorio" connectionString="server=72.55.140.230;port=5433;user id=postgres;password=postgres;database=prontuario;CommandTimeout=300;Pooling=false" providerName="Npgsql" />-->    
    <!--<add name="Repositorio" connectionString="server=localhost;user id=postgres;password=postgres;database=prontuario;CommandTimeout=300" providerName="Npgsql" />-->
	  <add name="Repositorio" connectionString="server=localhost;user id=postgres;password=senha;database=banco;" providerName="Npgsql" />

  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, EntityFramework6.Npgsql" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Npgsql" />
      <add name="Npgsql Data Provider" invariant="Npgsql" description="Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql" />
    </DbProviderFactories>
  </system.data>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="PATH_CID_XML" value="C:\inetpub\wwwroot\AmbienteTeste\ProntuarioEletronico\API\Resources\CID10.xml" />
    <add key="PATH_RESOURCES" value="C:\inetpub\wwwroot\AmbienteTeste\ProntuarioEletronico\API\Resources\" />
    <add key="PATH_PHOTO" value="C:\inetpub\wwwroot\AmbienteTeste\ProntuarioEletronico\API\Arquivos\Fotos\" />
    <add key="PATH_PRONTUARIO_FISICO" value="C:\inetpub\wwwroot\AmbienteTeste\ProntuarioEletronico\API\Arquivos\ProntuarioFisico\" />
    <add key="PATH_FILE" value="C:\inetpub\wwwroot\AmbienteTeste\ProntuarioEletronico\API\Arquivos\" />
    <add key="PATH_FICHA" value="C:\inetpub\wwwroot\AmbienteTeste\ProntuarioEletronico\API\Arquivos\" />
    <add key="PATH_FATURAMENTO" value="C:\inetpub\wwwroot\AmbienteTeste\ProntuarioEletronico\API\FichasEsus\" />
    <add key="URL_FILE" value="https://apiprontuario.nusacontrol.com.br/Arquivos/" />
    <add key="URL_FATURAMENTO" value="https://apiprontuario.nusacontrol.com.br/FichasEsus/" />
    <add key="URL_PHOTO" value="https://apiprontuario.nusacontrol.com.br/Arquivos/Fotos/" />
    <add key="PDF_DIR" value="C:\temporario_desenvolvimento\" />
    <add key="MODELOS_PDF" value="C:\inetpub\wwwroot\AmbienteTeste\ProntuarioEletronico\Api\bin\ModelosRelatorio\" />
    <add key="URL_AUTENTICACAO_SERVICE" value="http://teste.nusacontrol.com.br/autenticacaoapi/api/Auth/autenticarUsuarioMd5Service\" />
    <add key="CACHE_DIR" value="C:\inetpub\wwwroot\AmbienteTeste\ProntuarioEletronico\Api\bin\temporariocache\" />

    <add key="PROXY_BRASIL_ATIVADO" value="true" />
    <add key="PROXY_BRASIL" value="168.232.136.160" />
    <add key="PROXY_BRASIL_PORTA" value="3128" />

    <add key="NOME_SISTEMA" value="Prontuario" />
    <add key="VERSAO_SISTEMA" value="1.00" />
    <add key="UUID_INSTALACAO" value="123e4567-e89b-12d3-a456-426655440000" />
    <add key="RAZAO_SOCIAL" value="GIGA SYSTEM E SERVIÇOS EIRELI" />
    <add key="CNPJ" value="30.700.365/0001-07" />
    <add key="TELEFONE" value="11985019912" />
    <add key="EMAIL" value="" />

    <!-- CADSUS PDQ-->
    <add key="URL_CADSUS_PDQ" value="https://servicos.saude.gov.br/cadsus/PDQSupplier" />
    <add key="LOGIN_CADSUS_PDQ" value="CADSUS.SMS.CAJAMAR.SP" />
    <add key="SENHA_CADSUS_PDQ" value="FcepoDHBcvNM$ZzBYr^qbzEqXqI9Wn" />



    <!-- Parâmetros para acesso ao CadSus PIX-->
    <add key="EndpointConsultaCNSConfig" value="CadsusServicePort" />
    <add key="UserNameWebServiceDATASUS" value="" />
    <add key="PasswordWebServiceDATASUS" value="" />
    <add key="CNESWebServiceDATASUS" value="" />
    <add key="UsuarioCNESWebServiceDATASUS" value="" />
    <!-- FIM -->

  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" maxRequestLength="1073741824" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="CadsusServiceSOAP12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <security authenticationMode="UserNameOverTransport" enableUnsecuredResponse="true"></security>
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://servicoshm.saude.gov.br/cadsus/CadsusService/v5r0" binding="customBinding" bindingConfiguration="CadsusServiceSOAP12Binding" contract="SvcAcessoDATASUS.CadsusServicePortType" name="CadsusServicePort" />
    </client>
  </system.serviceModel>
</configuration>